html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Ubuntu', sans-serif;
    margin:0;
}
header{
    background-image: linear-gradient(rgb(255, 255, 255) 10%,rgba(20, 30, 173, 0.233),rgba(202, 199, 14, 0.247)),url("../images/subaru-background.jpg");
    width:100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#page-title{
    font-size:3em;
    color:black;
    text-align: center;
    padding:2.5%;
    margin-top:2vh;
    background-color: rgba(94, 94, 94, 0.479);
}
#page-title-wrapper{
    width:60vw;
    margin:auto;
}
nav{
    text-align: center;
    padding-bottom:1.5vh;
    padding-top:5vh;
    padding-bottom:5vh;
    background-color:white;
    display:flex;
    justify-content: space-around;
    position: sticky;
    top:0;
}
nav a{
    text-decoration: none;
    color:black;
    font-size:1.5em;
}
nav a:active{
    color:black;
}
#history-wrapper, #motorsports-wrapper{
    display:flex;
    align-items: center;
}
#history-title, #motorsports-title, #vehicles-title {
    text-align: center;
}
.articles{
    margin-top:10vh;
    margin-left:5vw;
    margin-right:5vw;
}
figure img{
    width: 40vw;
}
#motorsports-wrapper{
    flex-direction: row-reverse;
}
#motorsports{
    background-color:rgb(15, 29, 228);
    padding-top: 3vh;
    padding-bottom:3vh;
    color:white;
    padding-left:2vw;
    padding-right:2vw;
}
#vehicles li{
    line-height: 40px;
}
#vehicles{
    margin-bottom: 10vh;
}
footer{
    background-color:black;
    color:white;
    text-align: center;
    padding-top:8vh;
    padding-bottom:8vh;
}
footer p{
    margin-bottom:0;
    margin-top:0;
}
@media all and (max-width:370px){
    nav a{
        font-size:1em;
    }
}
@media all and (max-width:650px){
    figure{
        display: none;
    }
}

